{% extends "base.html" %}

{% block title %}New Post Form{% endblock %}

{% block header %}
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('/static/img/about-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>SIGN UP</h1>
                        <hr class="small">
                        <h2 class="subheading">Sign up to create your post</h2>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}
    <!-- Post Content -->
{% block content%}
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

                <p>Plaese fill the sign up form</p>

                  <form method="post" novalidate>
                      <div class="row control-group">
                          <div class="form-group col-xs-12 floating-label-form-group controls">
                              <label>Username</label>
                              <input type="text" class="form-control" placeholder="Username" name="username" value="{{username}}">
                              <p class="help-block text-danger">{{error_username}}</p>
                          </div>
                      </div>
                      <div class="row control-group">
                          <div class="form-group col-xs-12 floating-label-form-group controls">
                              <label>Password</label>
                              <input type="password" class="form-control" placeholder="Password" name="pwd" value="">
                              <p class="help-block text-danger">{{error_pwd}}</p>
                          </div>
                      </div>
                      <div class="row control-group">
                          <div class="form-group col-xs-12 floating-label-form-group controls">
                              <label>Verify Password</label>
                              <input type="password" class="form-control" placeholder="Verify Password" name="verify_pwd" value="">
                              <p class="help-block text-danger">{{error_verify_pwd}}</p>
                          </div>
                      </div>
                      <div class="row control-group">
                          <div class="form-group col-xs-12 floating-label-form-group controls">
                              <label>Email</label>
                              <input type="email" class="form-control" placeholder="Email Address (Optional)" name="email" value="{{email}}">
                              <p class="help-block text-danger">{{error_email}}</p>
                          </div>
                      </div>
                      <br>
                      <div class="row">
                          <div class="form-group col-xs-12">
                              <button type="submit" class="btn btn-default" value="post">Send</button>
                          </div>
                      </div>
                  </form>

                </div>
            </div>
        </div>
    </article>

    <hr>
{% endblock %}
